<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/NestJS.svg/2120px-NestJS.svg.png" alt="" width="auto" height="150">
    <h1 class="display-5 fw-bold">Authorization With ExpressJS</h1>
    <div class="col-lg-3 mx-auto">
        <a href="/" class="btn btn-success mt-2">Home</a>
        <a href="/register" class="btn btn-info mt-2">Signup</a>
        <a href="/login" class="btn btn-secondary mt-2">Signing</a>
        <a href="/profile" class="btn btn-warning mt-2">Profile</a>
    </div>
</div>

<div class="container mt-auto">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
            <h4><a href="https://github.com/alipejman" style="text-decoration: none; color: black;">â„‚ğ• ğ••ğ•–ğ•• ğ”¹ğ•ª : ğ•’ğ•ğ•š</a></h4>
        </div>
    </footer>
</div>